body{
    background-color: white;
    font-family: Arial, sans-serif;
}

.first_part{
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.title_element{
    background-color: rgba(51,68,100,255);
    height: 20%;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}
.popup_container{
    background-color: rgba(82,95,119,255);
    width: 86%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}