body{
    background-color: #ffa629;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#home_page{
    display: block;
}
.hamburger_menu{
    cursor: pointer;
    height: 7vw;
    width: 6vw;
    min-width: 40px;
    min-height: 50px;
    margin-left: 10px;
    
    position: relative;
    display: none;
}
.hamburger_menu span{
    height: 17%;
    width: 100%;
    background-color: #1e1e1e;
    border-radius: 25px;
    top:50%;
    position: absolute;
}
.hamburger_menu span:nth-child(1){
    top:25%;
}
.hamburger_menu span:nth-child(3){
    top:75%;
}
#menu:not(:active){
    width: 100%;
    height: 20%;
    min-width: 210px;
    background-color: #ffcd29;
    color: #1e1e1e;
    display: flex;
}

.menu_container{
    margin: 0;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.4s;
}

#logo_container{
    margin-right:3vw;
    width: 10%;
    height: 100%;
}
#logo{
    width:65%;
    padding:2vh;
}
#community_container{
}
#shop_container{
}
.menu_txt{
    padding-top: 12px;
}
.arrow_menu{
    padding-top: 20px;
    margin-left: 5px;
    width: 20%;
    min-width: 50px;
    cursor: pointer;
    position: relative;
}
.menu_container:hover .arrow_menu{
    transition: all ease 0.5s;
    transform: rotateX(180deg) translateY(-15px);  
}
.health_menu{
    padding-top: 20px;
    margin-left: 5px;
    width: 20%;
    min-width: 55px;
}
.account_menu{
    padding-top: 18px;
    margin-left: 5px;
    width: 16%;
    min-width: 35px;
}
.menu_container:hover .account_menu, .menu_container:hover .health_menu{
    transition: all ease 0.5s;
    transform: scale(1.2);
}

#content_container{
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 82vh;
    min-height: 450px;
    min-width: 150px;
    
}
#content_first_half{
    width: 57%;
    height: 95%;
    margin-right: 2vw;
}
#content_second_half{
    display: flex;
    width: 43%;
    height: 95%;
    flex-direction: column;  
}
.content_element{
    background-color: #1e1e1e;
    border-radius: 10px;

}
#search_bar{
    height: 5vh;
    width: 100%;
    border: none;
    color: white;
    font-size: 3vh;
    margin-bottom: 2%;
}
#search_bar::placeholder{
    text-align:center;
    font-size: 3vh;
    color: white;
}
#search_bar:focus{
    border: 4px solid #ffcd29;
    text-align: center;
}
#search_bar:focus::placeholder{
    color: #1e1e1e;
}
#main_content{
    width: 100%;
    height: 90%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.main_content_arrow{
    cursor: pointer;
    transition: all ease 0.4s;
    width: 8%;
    height: 23%;
    min-width: 30px;
    min-height: 30px;
    margin-top: 23%;
}
.main_content_arrow:hover{
    transform: scale(1.2);
}

#tips{
    flex: 1;
    height: 47%;
    color: white;
    text-align: center;
    margin-bottom: 7%;
}
#location{
    flex: 1;
    height: 47%;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    
    .hamburger_menu{
        display:flex;
        position: absolute;
    }
    #logo_container{
        display: none;
    }
    #menu:active{
    width: 25%;
    height: 96vh;
    border-radius: 10px;
    min-height: 460px;
    display:flex;
    flex-direction: column;
    }
    .menu_container{
        margin-left: 20px;
        margin-bottom: 0;
        margin-top: 30px;
        width: 100%;
        height: 10%;
    }
    #menu div:nth-of-type(2){
        margin-top: 70px;
    }
    #content_container{
        flex:1;
        margin-top: 0;
        
        width: 100%;
        height: 100%;
        padding: 10px;
        display:flex;
        flex-direction:column;
    }
    #content_first_half{
        width: 100%;
        height: 50%;
        margin-right: 2vw;
        display: flex;
        flex-direction: column;
    }
    #content_second_half{
        margin-top: 20px;
        width: 100%;
        height: 50%;
        flex-direction: row;  

    }
    #tips{
        width: 100%;
        height: 100%; 
        margin-right: 25px;
    }
    #location{
        width: 100%;
        height: 100%;
    }
    .main_content_arrow{
        margin-top: 125px;
    }
    #home_page{
        display:flex;
        flex-direction: row;
        width: 100%;
        height: 95vh;
    }

  }
  @media only screen and (max-width: 700px) {
    #content_second_half{
        margin-top: 10px;
        flex-direction: column;
    }
    #tips{
        width: 100%;
        height: 100%; 
        margin-bottom: 10px;
        
    }
  }


