body{
  
    font-family: Arial, sans-serif;
}
.main_container{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:9%;
}
.first_part{
    margin-left: 20%;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 51px;
}
.title_element{
    background-color: rgba(51,68,100,255);
    height: 6.7vh;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

.popup_container{
    background-color: rgba(82,95,119,255);
    width: 90%;
    height: 42vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.register_container .popup_container, .return_container .popup_container{
    height: 10vh;
    font-size: 1.2rem;
    gap: 0;
}

.input_container label{
    font-size: 1.3rem;
    width: 20%;
}
.input_container input{
    height: 100%;
    width: 70%;
}
.input_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#login_submit{
    font-size: 1.5rem;
    width: 34%;
    height: 10%;
}

.second_part{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: center;
    gap: 50%;
}
.register_container, .return_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

